<div class="container">
	<div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <%= form_for(@listing, html: {multipart: true}) do |f| %>
              <% if @listing.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

                  <ul>
                  <% @listing.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
                <% end %>
                <div class="tab-content">
                    <div class="col-md-6 col-md-offset-3 tab-pane active" role="tabpanel" id="step1">
                        <h3>Step 1</h3>
                        <p>Enter a name for this apartment</p>
                        <div class='form-group'>
                          <!-- <%#= f.label :name %><br> -->
                          <%= f.text_field :name, class: 'form-control' %><br>
                        </div>
                        <div class="form-group">
                          <%#= f.label :price, class: 'form-control' %><br>
                          <p>Enter a price for this apartment</p>
                          <%= f.text_field :price, class: 'form-control' %><br>

                          <%= f.hidden_field :latitude %>
                          <%= f.hidden_field :longitude %>
                        </div>
                        <div class="form-group">
                          <%= f.fields_for :images do |p| %>
                              <div class="field">
                                <%#= p.label :name %><br>
                                <%= p.file_field :name, :multiple => true, name: "images[name][]", class: 'form-control' %>
                              </div>
                          <% end %>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-md-offset-3 tab-pane" role="tabpanel" id="step2">
                        <h3>Step 2</h3>
                        <p>Can you write a brief description for this apartment? </p>
                        <%= f.text_area :description, class: 'form-control', rows: 6 %><br>

                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-md-offset-3 tab-pane" role="tabpanel" id="step3">
                        <h3>Step 3</h3>
                        <div class="form-group">
                          <p>Address</p>
                          <%= f.text_field :address, class: 'form-control' %><br><br>
                          <p>Location</p>
                          <%= f.text_field :location, class: 'form-control' %><br><br><br><br>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                            <li><button type="submit" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <h3>Complete</h3>
                        <p>You have successfully completed all steps.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        </div>
    </section>
   </div>
</div>
