<p id="notice"><%= notice %></p>

<!-- Parallax Effect -->
<script type="text/javascript">$(document).ready(function(){$('#parallax-pagetitle').parallax("50%", -0.55);});</script>

<section class="parallax-effect">
  <div id="parallax-pagetitle" style="background-image: url(<%= image_path('parallax-01.jpg') %>);">
    <div class="color-overlay">
      <!-- Page title -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ol class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li class="active">Rooms list view</li>
            </ol>
            <h1>Rooms list view</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Filter -->
<%= render partial: 'layouts/search' %>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-pills" id="filters">
        <li class="active"><a href="#" data-filter="*">All</a></li>
        <li><a href="#" data-filter=".single">Single Room</a></li>
        <li><a href="#" data-filter=".double">Double Room</a></li>
        <li><a href="#" data-filter=".executive">Executive Room</a></li>
        <li><a href="#" data-filter=".apartment">Apartment</a></li>
      </ul>
    </div>
  </div>
</div> -->

<!-- Rooms -->
<section class="rooms mt100">
  <div class="container">
    <div class="row room-list fadeIn appear">
      <!-- Room -->
      <% @listings.each do |listing|%>
      <%# 12.times do %>
        <div class="col-sm-4">
          <div class="room-thumb"><%= image_tag("room-01.jpg", alt: 'room 1', class: 'img-responsive')%>
            <div class="mask">
              <div class="main">
                <%= listing.name %>
                <!-- <h5>Double bedroom</h5> -->
                <div class="price"><%= listing.price %></div>
              </div>
              <div class="content">
                <p><span><%= listing.description %></p>
                <div class="row">
                  <div class="col-xs-6">
                    <ul class="list-unstyled">
                      <% listing.amenities.each do |amenity|%>
                      <li><i class="fa fa-check-circle"></i><%= amenity.name%></li>
                      <% end %>
                    </ul>
                  </div>

                </div>
                <%= link_to( 'Hook me up!', listing_path(listing) ,class: 'btn btn-primary btn-block')%>
                <!-- <a href="room-detail.html" class="btn btn-primary btn-block">Book Now</a> </div> -->
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
