<!-- Revolution Slider -->
<section class="revolution-slider">
  <div class="bannercontainer">
    <div class="banner">
      <ul>
        <!-- Slide 1 -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
          <!-- Main Image -->
          <%= image_tag 'slide-bg.jpg', style: "opacity:0", alt: 'slidebg1', data: {bgfit: 'cover', bgposition: 'left bottom', bgrepeat: 'no-repeat'} %>
          <!-- <img src="images/slides/slide-bg.jpg" style="opacity:0;" alt="slidebg1"  data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat="no-repeat"> -->
          <!-- Layers -->
          <!-- Layer 1 -->
          <div class="caption sft revolution-starhotel bigtext"
          				data-x="505"
                        data-y="30"
                        data-speed="700"
                        data-start="1700"
                        data-easing="easeOutBack">
						<span><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span> A Five Star Hotel <span><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span></div>
          <!-- Layer 2 -->
          <div class="caption sft revolution-starhotel smalltext"
          				data-x="605"
                        data-y="105"
                        data-speed="800"
                        data-start="1700"
                        data-easing="easeOutBack">
						<span>And we like to keep it that way!</span></div>
        <!-- Layer 3 -->
                  <div class="caption sft"
          				data-x="775"
                        data-y="175"
                        data-speed="1000"
                        data-start="1900"
                        data-easing="easeOutBack">
						<a href="room-list.html" class="button btn btn-purple btn-lg">See rooms</a>
                  </div>
        </li>
		<!-- Slide 2 -->
        <li data-transition="boxfade" data-slotamount="7" data-masterspeed="1000" >
          <!-- Main Image -->
          <%= image_tag 'slide-bg-02.jpg', alt: 'darkblurbg', data: {bgfit: 'cover', bgposition: 'left top', bgrepeat: 'no-repeat'} %>
          <!-- <img src="images/slides/slide-bg-02.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"> -->
          <!-- Layers -->
          <!-- Layer 1 -->
          <div class="caption sft revolution-starhotel bigtext"
          				data-x="585"
                        data-y="30"
                        data-speed="700"
                        data-start="1700"
                        data-easing="easeOutBack">
						<span><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span> Double room <span><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span></div>
          <!-- Layer 2 -->
          <div class="caption sft revolution-starhotel smalltext"
          				data-x="682"
                        data-y="105"
                        data-speed="800"
                        data-start="1700"
                        data-easing="easeOutBack">
						<span>€ 99,- a night this summer</span></div>
        <!-- Layer 3 -->
                  <div class="caption sft"
          				data-x="785"
                        data-y="175"
                        data-speed="1000"
                        data-start="1900"
                        data-easing="easeOutBack">
						<a href="room-detail.html" class="button btn btn-purple btn-lg">Book this room</a>
                  </div>
        </li>
      </ul>
    </div>
  </div>
</section>

  <%= render partial: 'layouts/search' %>
<!-- Rooms -->
<section class="rooms mt50">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="lined-heading"><span>Guests Favorite Rooms</span></h2>
      </div>
    <% for listing in @listing %>
      <!-- Room -->
      <div class="col-sm-4">
        <div class="room-thumb"><%= image_tag listing.images[0].name_url, alt: 'room 1', class: 'img-responsive' %>
          <div class="mask">
            <div class="main">
              <h5><%= listing.name %></h5>
              <div class="price"><%=number_to_currency listing.price, unit: "₦", separator: "." %><span><%= listing.location %></span></div>
            </div>
            <div class="content">
              <p><%= listing.description %></p>
              <%= link_to "Read More", listing,  class:"btn btn-primary btn-block" %>
            </div>
          </div>
        </div>
      </div>
     <% end %>
      <!-- Room -->
    </div>
  </div>
</section>

<!-- USP's -->
<section class="usp mt100">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="lined-heading"><span>USP section</span></h2>
      </div>
      <div class="col-sm-3 bounceIn appear" data-start="0">
      <div class="box-icon">
        <div class="circle"><i class="fa fa-glass fa-lg"></i></div>
        <h3>Beverages included</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum. </p>
        <a href="#">Read more<i class="fa fa-angle-right"></i></a> </div>
        </div>
      <div class="col-sm-3 bounceIn appear" data-start="400">
      <div class="box-icon">
        <div class="circle"><i class="fa fa-credit-card fa-lg"></i></div>
        <h3>Stay First, Pay After!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum. </p>
        <a href="#">Read more<i class="fa fa-angle-right"></i></a> </div>
        </div>
      <div class="col-sm-3 bounceIn appear" data-start="800">
      <div class="box-icon">
        <div class="circle"><i class="fa fa-cutlery fa-lg"></i></div>
        <h3>24 Hour Restaurant</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum. </p>
        <a href="#">Read more<i class="fa fa-angle-right"></i></a> </div>
        </div>
      <div class="col-sm-3 bounceIn appear" data-start="1200">
      <div class="box-icon">
        <div class="circle"><i class="fa fa-tint fa-lg"></i></div>
        <h3>Spa Included!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum. </p>
        <a href="#">Read more<i class="fa fa-angle-right"></i></a> </div>
    </div>
    </div>
  </div>
</section>



<!-- Gallery -->
<section class="gallery-slider mt100">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="lined-heading"><span>Gallery</span></h2>
      </div>
    </div>
  </div>
  <div id="owl-gallery" class="owl-carousel">
    <div class="item"><a href="images/gallery/1.jpg" data-rel="prettyPhoto[gallery1]"><%= image_tag 'room-01.jpg', alt: 'Image 1' %><i class="fa fa-search"></i></a></div>
    <div class="item"><a href="images/gallery/2.jpg" data-rel="prettyPhoto[gallery1]"><%= image_tag 'room-02.jpg', alt: 'Image 1' %><i class="fa fa-search"></i></a></div>
    <div class="item"><a href="images/gallery/3.jpg" data-rel="prettyPhoto[gallery1]"><%= image_tag 'room-03.jpg', alt: 'Image 1' %><i class="fa fa-search"></i></a></div>
    <div class="item"><a href="images/gallery/4.jpg" data-rel="prettyPhoto[gallery1]"><%= image_tag 'room-04.jpg', alt: 'Image 1' %><i class="fa fa-search"></i></a></div>
  </div>
</section>
